@charset "utf-8";
* {
    margin: 0;
}

body {
    background-color: grey;
}

h1 {
    font-size: 44px;
    text-align: center;
    background-color: #fff;
}

div {
    /* ↓これは後で消す */
    /* border: solid 1px; */

    text-align: center;
    justify-content: center;
}

.box {
    position: relative;
}

img {
    width: 100%;
}

.right {
    float: right;
    background-color: orange;
    padding: 22px 22px;
    border-radius: 100vh;
    position: absolute;
    bottom: 70px;
    right: 25px;
    transition: 0.5s;
}

.right:hover {
    float: right;
    background-color: red;
    padding: 22px 22px;
    border-radius: 100vh;
    position: absolute;
    bottom: 70px;
    right: 20px;
    transition: 0.5s;
}

.left {
    float: left;
    background-color: orange;
    padding: 22px 22px;
    border-radius: 100vh;
    position: absolute;
    bottom: 70px;
    left: 25px;
    transition: 0.5s;
}

.left:hover {
    float: left;
    background-color: red;
    padding: 22px 22px;
    border-radius: 100vh;
    position: absolute;
    bottom: 70px;
    left: 20px;
    transition: 0.5s;
}

a {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
}


#right_image {
    display: none;
    position: absolute;
    top: 55px;
    right: 20px;
    width: 40%;
}

#left_image {
    display: none;
    position: absolute;
    top: 55px;
    left: 20px;
    width: 40%;
}